
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env
.venv/


*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

staticfiles/


.vscode/
.idea/
*.swp
*.swo

*.md

technology


**/migrations/*.py
!**/migrations/__init__.py
care/management/**

generate_fixtures.py

huge_data.json
fill_images.py

.ruff_cache